html, body {
    background-color: rgba(20, 15, 15, 0.842);
    font-family: lato, sans-serif;
    font-weight: 325;
    font-style: normal;
    height:100%;
    width:100%;
}

.media {
    display:block;
    text-align:center;
}

/* Banner/Logo CSS */
.header-logo-container {
    margin: 0 auto;
    display:block;
    text-align:center;
    background-color:transparent;
    margin: 0 auto;
    text-align: center;
    position:relative;
    top:40%;
}
.header-logo {
    width:300px;
}

/* Navbar CSS */
a {
    color:rgb(151, 56, 72);;
}
a:hover {
    color:rgb(100, 60, 60);
}
.header-navbar {
    z-index:999;
    font-size:20px;
    position:fixed;
    top:0;
    width:100%;
}
.header-navbar ul li a i {
    display:block;
}
.header-navbar-link {
    font-weight:800;
}
.header-navbar-link:not(:last-child) {
    padding-right:15px;
}
.navbar-links {
    list-style: none;
    padding:0 0;
}
.navbar-links:hover .header-navbar-link {
    opacity:0.4;
    transition: ease-in;
    transition-duration: .2s;
}
.navbar-links:hover .header-navbar-link:hover {
    opacity:1;
    transition: ease-in;
    transition-duration: .2s;
}
.navbar-links li {
    display:inline-block;
}
.social-link {
    float:right;
    padding: 0px 5px;
    font-size:20px;
}
.navbar-links:hover .social-link {
    opacity:0.4;
    transition: ease-in;
    transition-duration: .2s;
}
.navbar-links:hover .social-link:hover {
    opacity:1;
    transition: ease-in;
    transition-duration: .2s;
}
/* Landing Page Photo CSS */
.photo1{
    background-image:url('./Assets/Images/IMG_4139.jpg');
    background-image:linear-gradient(to bottom, rgba(228, 222, 222, 0.6) 0%,rgba(0,0,0,0.6) 100%), url('./Assets/Images/IMG_4139.jpg');
    height:100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.photo2{
    background-image: url('./Assets/Images/IMG_3302.jpg');
    background-image:linear-gradient(to bottom, rgba(15, 15, 15, 0.6) 0%,rgba(248, 248, 248, 0.6) 100%), url('./Assets/Images/IMG_3302.jpg');
    min-height:50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.photo3{
    background-image:url('./Assets/Images/DSC_5352.jpg');
    background-image:linear-gradient(to bottom, rgba(104, 102, 102, 0.4) 0%,rgba(221, 221, 221, 0.4) 100%), url('./Assets/Images/DSC_5352.jpg');
    height:100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/* Landing Page Bio */
p {
    color:white;
    margin:0 auto;
    padding: 5px 0px;
    font-size:18px;
}

.bio {
    width:70vw;
    display:block;
    margin: 0 auto;
    padding: 25px 0px;
    background:transparent;
    /* background-color:rgb(48, 44, 44); */

}

.booking-container {
    margin: 0 auto;
    text-align: center;
    position:relative;
    top:50%;
    background-color:rgb(230, 230, 230);
    width:fit-content;
    /* border-radius:15px; */
}

.contact-booking {
    padding:0 5px;
    color:black;
}
